/**
 * This file is generated automatically by naples scaffolding.
 * @create February 26o 2022, 5:04:37 pm
 * @author Yuri2
 */

.container {
  .img {
    height: 200px;
    display: block;
    margin-top: 20px;
  }
  input {
    max-width: 250px;
  }
  button {
    margin-right: 20px;
  }
}
